<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">

    {% assets "home_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "home_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

    {% block header %}
    {% endblock %}

    <title>
      {% block title %}
      {% endblock %} CookItNow
    </title>

  </head>
  <body>
    {% include "navigation.html" %}

    
    {% block content %}
    {% endblock %}
    

    <script>
      $(".close-flashes").click(function (e) {
          e.preventDefault();
          $(".flashes").fadeOut();
      });
    </script>



    <script type="text/javascript" language="javascript" src="/static/js/recipe_details.js"></script>
  </body>
</html>
