{% extends "_layout.html" %}
{% block content %}
<div class="homepage">
  <div>
    <h1>Finding Some New Recipe To Cook?</h1>
    <h2>Lets see what you have in your house</h2>

    <div class="search-recipe">
      <form method="POST" autocomplete="off" action="{{url_for('recipe.recipe')}}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class='input-group'>
            <input id="autocomplete" class='input-field' type='text' name='ingredient_name' placeholder='Search Ingredient : Apple, Onion, Butter, etc.....'/>
            <span class="input-group-btn">
              <button id="searchBtn" type='submit' class='btn btn-default'>
                <i class="fas fa-search"></i>
              </button>
            </span>
        </div>
      </form>
    </div>
    <br><br>
    <h2>OR</h2>
    <h1>Learn From Amateur and Professional</h1>
    <h2>Check out some amazing cooking video here and learn from them! </h2>
    <div class="search-recipe">
      <form method="POST" autocomplete="off" action="{{url_for('recipe.cooking_video')}}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class='input-group'>
            <input id="autocomplete" class='input-field' type='text' name='ingredient_name_video' placeholder='Search Ingredient : Chicken, Pasta, Rice'/>
            <span class="input-group-btn">
              <button id="searchBtn" type='submit' class='btn btn-default'>
                <i class="fas fa-search"></i>
              </button>
            </span>
        </div>
      </form>
    </div>

    
  </div>  
</div>
{% endblock %}