
<!-- if this is home page load this -->
{% if request.endpoint == 'home'  %}
<div class="nav-bar nav-home">
    <div class="logo"><a href="/"><img src="/static/images/cookitnow-logo-white.png"></a></div>
    <div class="nav-list">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{url_for('recipe.random_recipe')}}">Random Recipe</a></li>
            <li><a href="{{url_for('recipe.show_customize_recipe')}}">Our Original Recipe</a></li>
            {% if current_user.get_id() == 1 %}
            <li><a href="{{url_for('recipe.upload_recipe')}}">Upload Recipe</a></li>
            {% endif %}

            {% if current_user.is_authenticated %}
            <li>
                <a class="dashboard">{{current_user.username}}</a>
                <div class="dashboard-dd">
                    <a href="{{url_for('users.show', username = current_user.username)}}">Dashboard</a>
                    <form action="{{url_for('users.logout')}}" method="post">
                        <input type='submit' value="Logout" class="logout">
                    </form> 
                </div>
            </li>
            {% else %}
            <li><a href="{{url_for('users.login')}}">Login</a></li>
            <li><a href="{{url_for('users.new')}}" class="signup">SignUp</a></li>
            {% endif %}
        </ul>
    </div>
</div>

{% else %}
<!-- not home page load this -->
<div class="nav-bar">
    <div class="logo"><a href="/"><img src="/static/images/cookitnow-logo.png"></a></div>
    <div class="nav-list">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{url_for('recipe.random_recipe')}}">Random Recipe</a></li>
            <li><a href="{{url_for('recipe.show_customize_recipe')}}">Our Original Recipe</a></li>
            {% if current_user.get_id() == 1 %}
            <li><a href="{{url_for('recipe.upload_recipe')}}">Upload Recipe</a></li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li>
                <a class="dashboard">{{current_user.username}}</a>
                <div class="dashboard-dd">
                    <a href="{{url_for('users.show', username = current_user.username)}}">Dashboard</a>
                    <form action="{{url_for('users.logout')}}" method="post">
                        <input type='submit' value="Logout" class="logout">
                    </form> 
                </div>
            </li>
            {% else %}
            <li><a href="{{url_for('users.login')}}">Login</a></li>
            <li><a href="{{url_for('users.new')}}" class="signup">SignUp</a></li>
            {% endif %}
        </ul>
    </div>
</div>

{% endif %}