<div class="allpage-search">
    <div class="search-recipe">
        <form method="POST" autocomplete="off" action="{{url_for('recipe_api.recipe')}}">
        <div class='input-group'>
            <input id="autocomplete" class='input-field' type='text' name='ingredient_name' placeholder='Search Ingredient : Apple, Onion, Butter, etc.....'/>
            <span class="input-group-btn">
            <button id="searchBtn" type='submit' class='btn btn-default'>
                <i class="fas fa-search"></i>
            </button>
            </span>
        </div>
        </form>
    </div>
</div>