{% extends "_layout.html" %}


{% block content %}
{% include "search_header.html" %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="flashes">
    <div class="close-flashes"><i class="fas fa-times"></i></div>
{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="login-signup">
    <h1>Sign up as a member for CookItNow</h1> 
 
    <div class="login-signup-form">
        <form method="POST" autocomplete="off" action="{{url_for('users.create')}}" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class='input-group'>
                <label for="username">Username:</label>
                <input type="text" name="username" class="input-field">
            </div>

            <div class='input-group'>
                <label for="email">Email</label>
                <input type="email" name="email" class="input-field">
            </div>

            <div class='input-group'>
                <label for="password">Password</label>
                <input type="password" name="password" class="input-field">
            </div>

            <input type="submit" class="sub" value="Sign Up">
        </form>
    </div>

</div>
{% endblock %}